# Секреты и конфиги (никогда не коммитить!)
.env

# Логи и временные файлы
*.log
*.tmp
.DS_Store
Thumbs.db

# Папки зависимостей (если появятся)
vendor/
node_modules/

# Настройки редакторов и IDE
.idea/
.vscode/